.footer {
    background-color: rgba(203, 210, 219, 0.98);
    .container {
        color: black;
        font-size: 18px;
        padding: 20px;
        .logo{
            width: 200px;
            height: 120px;
        }
        .footer-container{
            display: flex;
            justify-content: space-between;
            max-width: 1400px;
        }
        p{
            text-align: justify;
            span{
                font-weight: 700;
            }
        }
        a{
            color: black;
        }
        .footer-item{
            padding: 50px 0;
            h4{
                font-size: 25px;
                margin-bottom: 25px;
            }
            .list {
                cursor: pointer;
                li {
                    margin: 5px 0;
                }
            }
            textarea{
                &:focus {
                    outline: none;
                    border-color: #66afe9;
            }
        }
    }
}
    
}